<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Reusable Form Demo</title>
    </head>
    <body>
        <form action="" method="post">
            {{ form.csrf }}
 
            <div class="input text">
                {{ form.textform(rows='8', cols='50') }}
            </div>
 
            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>

            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                {% endif %}
                {% endwith %}
            </p>
        </form>
    </body>
</html>